assets/image/_detail/*.*
assets/image/_imagetopup/*.*
assets/image/_middle/*.*
assets/image/_other/*.*
assets/image/_small/*.*
assets/image/_thumb/*.*
assets/image/_zoom/*.*
assets/image/lain/*.*

controletnik_old
controller_old
model_old
view_old

autoloader_old.php
index_old.php
.htaccess
panelnibras/.htaccess